.home{
    position: relative;
    top: 80px;
}
/* section- header */
  .section-hearder{
    height: 100vh;
  }
 .section-hearder .card-box{
  height: 100vh;
  background: none;
  border: none;
  border-radius: 0px;

 }
  .section-hearder .card-box h1{
    font-size: 3em;  
  }
  .section-hearder .card-box p{
      font-size: 1.5em;
      text-align: justify;
      margin-right: 50px;
      margin-top: 10px;
      font-style: italic;  
  }
 .section-hearder .card-box button{
    font-size: 1.5em;
    width: 200px;
    text-align: center;
    font-style: italic;
     
  }
 .section-hearder .card-box button span{
    font-size: 1em;
    align-items: center;
    justify-content: center;    
  }
 .section-hearder img{
   width: 100%;
   height: 100%;
   
  }
  .section-hearder .box-img{
    height: 500px;
    width: 100%;
    margin-top: 100px;
    padding-right: 20px;
    padding-left: 30px;  
  }

/* end of section-header */
/*start of section-vison */
  .section-vision{
      position: relative;
      height: 120vh;
      background-color: #001F30;
  }
  .section-vision h1{
    text-align: center;
    color: #fff;
    font-style: italic;
    font-size: 3em;
    margin-bottom: 0px;
  padding-top: 20px;
  }
  .section-vision .card-group{

      margin: 80px 80px;
      border-radius: 0px;
      
      
  }
  .section-vision .card{
      margin-right: 30px;
      text-align: center;
      align-items: center;
      justify-content: center;
      position: relative;
      border: 0px;
      border-radius: 0px;
      background: none;
    
  }
  .section-vision .card img{
      height: 280px;
      width: 300px;
      text-align: center;
      align-items: center;
      justify-content: center;
      position: relative;
      
    }
    .section-vision .card h2{
      margin-top: 10px;
      text-align: center;
      color: #fff;
      font-style: italic;
      
    }
    .section-vision .card p{
      text-align: justify;
      color: #fff;
      font-style: italic;
      font-size: 1.2em;
      
    }
/* end of section-vision */
/* start of section-quiz */
.section-quiz h1{
  margin: 50px auto;
  font-style: italic;
  text-align: center;
  font-size: 3em;
  
}
.section-quiz .card-group{
  font-family: "Sanchez", serif;
  font-style: italic;
  align-items: center;
  justify-content: center;
  
}
.section-quiz .card-group:hover img{
  transform: scale(1.02);
  
}
.section-quiz .item-box{
  margin: 20px 15px 80px 0px ;
  height: 400px;
  width: 420px;
  align-items: center;
  justify-content: center; 
} 
.section-quiz .item-box .sub-item-box{
  background: none;
  box-shadow: 2px 4px 6px rgb(0,0,0,0.08);
} 
.section-quiz .item-box img{
  height: 300px;
  width: 385px;
  border-radius: 5px;
}
.section-quiz .item-box .faheart{
  position: absolute;
  margin-left: -55px;
  margin-top: -10px;
  font-size: 3em;
  color: #fff;
}

.section-quiz .item-box h2{
 text-align: center;
 font-size: 1.5em;
 margin: 0px;
}
.section-quiz .item-box .rating{
   position: relative;
   color: red; 
   margin-left: 100px;
}
.section-quiz .item-box .button-bottom{
  margin: 0;
  position: relative;
  align-items: center;
  justify-content: center;
}
.section-quiz .item-box .button-bottom button{
  height: 50px;
  font-size: 1.2em;
  text-align: center;
  position: relative;
  align-items: center;
  justify-content: center;
  margin-right: 40px;
}

/* .section-quiz .form-control{
  width: 600px;
  height: 50px;
  
} */
.section-quiz .pagination{
  position: relative;
  align-items: center;
  justify-content: center; 
  margin-top: 40px;
  margin-bottom: 50px;
  
}
.section-quiz .pagination button{

 width: 80px;
 height: 40px;
 border: 1px solid rgb(0,0,0,0.08);
 background: none;

  
}

.pagination button.active {
  background-color: #007bff; 
  color: #000;
  cursor: pointer;
  

}
/* end of section-quiz */
/* start of section-contact */
.section-contact{
  margin-top: 100px;
  position: relative;
  height: 100vh;
  background-color: #013957;
}
.section-contact .item-box{
  justify-content: space-between;
  display: flex;
}

.section-contact .item-box .left-box{
  width: 50%;
  height: 80vh;
  margin-top: 100px;
}
.section-contact .item-box h1{
  margin: 40px auto 0;
  color: #fff;
  font-size: 3em;
  text-align: center;
  font-weight: lighter;
  font-style: italic;
}
.section-contact .item-box .left-box label{
  font-size: 1.5em;
  color: #fff;
  font-style: italic;
  margin: auto 50px 0;
}
.section-contact .item-box .left-box input{
  margin: auto 50px;
  width: 500px;
  height: 8vh;
  color: #fff;
  border: 1px solid #fff;
  background: none;
  
}
.section-contact .item-box .left-box input::placeholder{
 color: #fff;
 font-size: 1.5em;
 font-style: italic;
  
}
.section-contact .item-box .left-box textarea{
  margin: auto 50px;
  width: 500px;
  height: 10vh;
  color: #fff;
  border: 1px solid #fff;
  background: none;
  
}
.section-contact .item-box .left-box button{
  width: 120px;
  height: 50px;
  border: 1px solid #fff;
  border-radius: 5px;
  background: none;
  color: #fff;  
  font-size: 1.2em;
  font-style: italic;
  margin-left: 425px;
}
.section-contact .item-box .left-box button:hover{
  background: blue;
  border: 1px solid #fff; 

}
.section-contact .item-box .right-box {
  height: 100vh;
  /* background-color: blue; */
  width: 50%;
  position: relative;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 100px;

}
.section-contact .item-box .right-box img{
 height: 100%;
 width: 100%;

}

@media (max-width: 865px) {
  .contact{
      height: 200vh;
      background-color: #013957;
  }
 
  .contact .item-box .right-box {
      margin-top: 500px;
     left: -350px;
   
   }
   .section-contact .item-box .right-box img{
      height: 400px;
      width: 440px;
   
   }
   
 

}